

$font-size:0.9em;
$font-family:"Roboto", sans-serif;

/* Colors */
$main-bg-color:#eff5ff !default;
$green: #119400 !default;
$red: #bb2323 !default;
$blue: #003dae !default;
$dark: #000000 !default;
$yellow: #e9970a !default;
$white: #fff !default;
$text-color:#4c5b7e !default;
$border-color:#ddd !default;
